{
  "presets": [
    [
      "minify",
      {
        "removeConsole": true
      }
    ],
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ],
  "plugins": [
    "babel-plugin-rewire"
  ]
}
